/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

h1 {
	text-align: center;
}

/*#menu-form .food-item {
  display: block;
  vertical-align: -1px;
  margin: 5px;
 }*/

#menu-form input {

}

#menu-form label, {
  display: block;
 }

/*#menu-form input .collection_check_boxes{
  display: inline;
  vertical-align: -5px;
 }
*/

#menu-form button {
  font-size: 0.9rem;
  display: inline-block;
  border: 1px solid silver;
  color: gray;
  &:hover {
    color: black; border-color: gray;
  }
  padding: 0.382em 1em;
  border-radius: 3px;
  margin-top: 1.618rem;
  margin-right: 0.618rem;
}

ul li {
	list-style-type:none
}

 .header
{    
   width:1004px;
   height:360px;
   margin-left: auto;
   margin-right: auto;
   padding:0px;
   background-image:url(images/Subway_logo.svg);
   background-repeat:no-repeat;
}

.headerBlank
{
   width:100%;
   /* the rest of your css... */
}

/*label {
	float: left;
}

input {
	float: left;
}*/