/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
/* ^^^^^Implementing Bootstrap elements */

h1 {
	text-align: center;
}
/* ^^^^^This is here for future reference and use (i.e. logo/title) */

/*#menu-form .food-item {
  display: block;
  vertical-align: -1px;
  margin: 5px;
 }*/
/* ^^^^^Was experimenting with how to align the checkboxes */

#menu-form input {
}
/* ^^^^^This is here for the checkboxes as well, though it currently serves no function */

#menu-form label, {
  display: block;
 }
/* ^^^^^Another checkbox formatting command */

/*#menu-form input .collection_check_boxes{
  display: inline;
  vertical-align: -5px;
 }
*/
/* ^^^^^Another checkbox formatting command */

/*#menu-form button {
  font-size: 0.9rem;
  display: inline-block;
  border: 1px solid silver;
  color: gray;
  &:hover {
    color: black; border-color: gray;
  }
  padding: 0.382em 1em;
  border-radius: 3px;
  margin-top: 1.618rem;
  margin-right: 0.618rem;
}*/
/* ^^^^^Currently not in use, this is for any buttons I may need in the future */

ul li {
	list-style-type:none
}
/* ^^^^^This removed the pesky bulletpoints from my list of radio buttons and checkboxes */

 .header {    
   width:1004px;
   height:360px;
   margin-left: auto;
   margin-right: auto;
   padding:0px;
   background-image:url(images/Subway_logo.svg);
   background-repeat:no-repeat;
}
/* ^^^^^Another item for future use in styling and formatting */

.headerBlank {
   width:100%;
/* ^^^^^Another item for future use in styling and formatting */
}

  input[type=submit] {
    margin-top: 2rem;
    border: 1px solid rgba(255,255,255,0.25);
    background: #000000;
    border-radius: 4px;
    padding: 1.618em;
    font-size: 1.2rem;
    color: white;
    text-transform: uppercase;
    font-size: 80%;
    letter-spacing: 2px;
    display: block;
    cursor: pointer;
  }
/* ^^^^^Formatting the submit and registration buttons in the program */

/*label {
	float: left;
}

input {
	float: left;
}*/
/* ^^^^^Some last tools to try to format the checkbox and radio button appearance */